*{
/*   border: solid 1px; */
  font-family: 微軟正黑體;
  position: relative;
}
html, body{
  width: 100%; height: 100%;
  padding: 0px; margin: 0px;
}
body{
  background-color: #c7f4fc;
  border-top: solid 30px #DDFF77;
  border-bottom: solid 50px #716291;
  box-sizing: border-box;
  overflow: hidden;
}
.namecard{
  width: 350px; height: 200px;
  padding: 20px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 100px;
  background-color: #83acce;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border: solid 1px rg(0, 0, 0, 0.15);
  border-radius: 5px; 
  box-shadow: 0px 25px 15px -10px rgba(0, 0, 0, 0.15);
}
.namecard h2{
  font-size: 25px;
}
.namecard h2 span{
  font-size: 18px;
  font-weight: 500;
}
.namecard h5{
  font-size: 17px;
  color: #00CED;
  letter-spacing: 6px;
}
.namecard p{
  font-size: 12px;
  letter-spacing: 6px;
  line-height: 22px;
} 
.circle {
  width: 100px; height: 100px;
  border-radius: 900%;
  position: absolute;
/* right: 300px; */
}
.circle1 {
  right: 200px;
  background-color: #716291;
}
.circle2 {
  width: 200px; height: 200px;
  border-radius: 500%;
  position: absolute;
/* right: 600px; */
}
.circle2 {
  top: -160px;
  right: 10px;
  background-color: #716291;
}
.mark{
  font-size: 350px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.05); 
}
.page_title{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
